/*



*** VERY IMPORTANT 👇 ***



* 🚀 Projekt: Memory Shift - Learn smarter
* 📜 Urheberrecht © 2024 WebByte Studio (Timon Schroth). Alle Rechte vorbehalten.
* 🌐 Website: https://memoryshift.app
*
* ❗ Dieses Programm ist urheberrechtlich geschützt. Es darf ohne ausdrückliche schriftliche
* Genehmigung von WebByte Studio weder kopiert, vervielfältigt, verbreitet noch in
* irgendeiner Weise verwendet oder verändert werden.
*
* ❗ Jede unautorisierte Nutzung, einschließlich des Kopierens, Veränderns, oder des
* Vertriebs, ist untersagt und kann zivil- und strafrechtlich verfolgt werden.
*
* 📬 Kontakt: service@webbyte.studio



*/



:root {
    --clr-background: #0f2910;
    --clr-primary: #3a9d38;
    --clr-primary-light: rgba(58, 157, 56, 0.75);
    --clr-secondary: #255c22;
    --clr-tertiary: #5db665;
    --clr-quaternary: #8dbf53;
    --clr-accent: #47984d;
    --clr-setup-accent-1: #103d16;

    --clr-light-deviation: #2f8346;
    --clr-light-deviation-mid-transparency: rgba(47, 131, 70, 0.65);
    --clr-deviation: #256838;
    --clr-deep-deviation: #1b4f2c;

    --clr-bottom-navigation: #0d250ec7;
    --clr-bottom-navigation-border: #0a1f0c;

    --clr-agree: #3ddc68;
    --clr-warning: #d84315;
    --clr-warning-accent: #a83119;
    --clr-warning-3_4-transparency: rgba(216, 67, 21, 0.85);

    --clr-svg-change: #ffffff;

    --clr-font: #e0f7e8;
    --clr-font-opposite: #ffffff;

    --clr-Französisch: #00695c;
    --clr-Englisch: #43a047;
    --clr-Spanisch: #7bc96f;
    --clr-Latein: #66bb6a;
    --clr-Deutsch: #388e3c;
    --clr-Russisch: #4caf50;
    --clr-Griechisch: #01944f;
}

#statistic .streak {
    background: linear-gradient(90deg, #66bb6a 0%, #388e3c 100%);
}

#statistic .time,
#settings .profile-box {
    background: #388e3c;
}

input::placeholder,
textarea::placeholder {
    color: #b8d8c0 !important;
}



/* ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ */
/*
/*
/*    🔥💻 Powered by WebByte Studio 💻🔥
/*                                        
/*    💬 Join the Discord: https://discord.gg/53SverZQtV
/*    📹 Follow on Instagram: instagram.com/webbytestudio
/*    📞 Connect on WhatsApp: https://whatsapp.com/channel/0029Vasl8IAAInPl5pZifL1E
/*
/*
/* ✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨ */


