/*!
* Projekt: Memory Shift - Learn smarter
* Urheberrecht © 2024 WebByte Studio (Timon Schroth). Alle Rechte vorbehalten.
* Website: https://memoryshift.app
*
* Dieses Programm ist urheberrechtlich geschützt. Es darf ohne ausdrückliche schriftliche
* Genehmigung von WebByte Studio weder kopiert, vervielfältigt, verbreitet noch in
* irgendeiner Weise verwendet oder verändert werden.
*
* Jede unautorisierte Nutzung, einschließlich des Kopierens, Veränderns, oder des
* Vertriebs, ist untersagt und kann zivil- und strafrechtlich verfolgt werden.
*
* Kontakt: service@webbyte.studio
*/



/* PRIMARY DAY THEME */

:root {
    --clr-primary: #2a45f8;
    --clr-primary-light: #2a45f88a;
    --clr-secondary: #f4263f;
    --clr-tertiary: #69cac5;
    --clr-quaternary: #efbd09;
    --clr-accent: #ff54ff;
    --clr-setup-accent-1: #dc7359;

    --clr-light-deviation: #f6f6f6;
    --clr-light-deviation-mid-transparency: rgba(246, 246, 246, 0.5);
    --clr-deviation: #ededed;
    --clr-deep-deviation: #8B8793;

    --clr-agree: #05B853;
    --clr-warning: #f4263f;
    --clr-warning-accent: #d0212b;
    --clr-warning-3_4-transparency: rgb(244, 38, 63, 0.75);

    --clr-svg-change: #000;

    --clr-background: #fff;
    --clr-font: #000;
    --clr-font-opposite: #fff;

    --clr-Französisch: #5116A7;
    --clr-Englisch: #E54858;
    --clr-Spanisch: #f46042;
    --clr-Latein: #05B853;
    --clr-Deutsch: #f44826;
    --clr-Russisch: #F85BC0;
}

#statistic .streak {
    background: linear-gradient(90deg, rgba(244, 38, 63, 1) 0%, rgba(236, 88, 0, 1) 100%);
}

#statistic .time {
    background: linear-gradient(90deg, rgba(42, 69, 248, 1) 0%, rgba(255, 84, 255, 1) 100%);
}

#settings .profile-box {
    background: linear-gradient(90deg, rgba(42, 69, 248, 1) 0%, rgba(255, 84, 255, 1) 100%);
}