/*!
* Projekt: Memory Shift - Learn smarter
* Urheberrecht © 2024 WebByte Studio (Timon Schroth). Alle Rechte vorbehalten.
* Website: https://memoryshift.app
*
* Dieses Programm ist urheberrechtlich geschützt. Es darf ohne ausdrückliche schriftliche
* Genehmigung von WebByte Studio weder kopiert, vervielfältigt, verbreitet noch in
* irgendeiner Weise verwendet oder verändert werden.
*
* Jede unautorisierte Nutzung, einschließlich des Kopierens, Veränderns, oder des
* Vertriebs, ist untersagt und kann zivil- und strafrechtlich verfolgt werden.
*
* Kontakt: service@webbyte.studio
*/



:root {
    --clr-background: #f3e5f5;  
    --clr-primary: #9b1d8e;  
    --clr-primary-light: #9b1d8e;  
    --clr-secondary: #d5006d;  
    --clr-tertiary: #57a49f;  
    --clr-quaternary: #c19c07;  
    --clr-accent: #d5006d;  
    --clr-setup-accent-1: #8a3a2c;  

    --clr-light-deviation: #d1c4e9;  
    --clr-light-deviation-mid-transparency: rgba(209, 196, 233, 0.5);  
    --clr-deviation: #b39ddb;  
    --clr-deep-deviation: #9575cd;  

    --clr-agree: #05B853;  
    --clr-warning: #d5006d;  
    --clr-warning-accent: #d0212b;  
    --clr-warning-3_4-transparency: rgba(244, 38, 63, 0.75);  

    --clr-svg-change: #000;  

    --clr-font: #000;  
    --clr-font-opposite: #fff;  

    --clr-Französisch: #3d1181;  
    --clr-Englisch: #d5006d;  
    --clr-Spanisch: #f46042;  
    --clr-Latein: #05B853;  
    --clr-Deutsch: #f44826;  
    --clr-Russisch: #F85BC0;  
}

#statistic .streak {
    background: #d5006d;  
}

#statistic .time,
#settings .profile-box {
    background: #9b1d8e;  
}

input::placeholder, textarea::placeholder {
    color: var(--clr-deep-deviation) !important;
}